@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Montserrat Alternates', sans-serif;
  font-weight: 500;
}

.list__link::after {
  content: '';
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: #1a6ec1;
  left: 50%;
  bottom: 0;
  transition: 0.5s;
}

.list__link {
  position: relative;
  padding-bottom: 4px;
}

.list__link:hover::after {
  left: 0;
  width: 100%;
}

.selectProduct {
  width: 500px;
}

.autocomplete {
  width: 350px;
}

.autoCompleteContent {
  width: 300px;
}

.moreOptions .slick-slide {
  margin: 0 20px;
}

.moreOptions .slick-list {
  margin: 0 -20px;
}

.moreOptions .slick-track {
  display: flex;
}

.forte-btn a {
  width: 100%;
}

@media (max-width: 1085px) {
  .autoCompleteContent {
    width: 250px;
  }
}

@media (max-width: 1023px) {
  .autoCompleteContent {
    width: 200px;
  }
}

@media (max-width: 767px) {
  .autoCompleteContent {
    width: 190px;
  }
}

@media (max-width: 650px) {
  .selectProduct {
    width: 550px;
  }

  .sire {
    flex-direction: column;
    align-items: start;
  }

  .autoCompleteContent {
    width: 300px;
  }

  .fullAutoComplete {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 590px) {
  .selectProduct {
    width: 500px;
  }
}

@media (max-width: 535px) {
  .selectProduct {
    width: 100%;
  }
}

@media (max-width: 420px) {
  .autocomplete {
    width: 100%;
  }

  .cardContent a {
    font-size: 10px !important;
  }

  .cardContent p {
    font-size: 10px !important;
  }

  .cardContent h2 {
    font-size: 10px !important;
  }
}

@media (max-width: 380px) {
  .autoCompleteContent {
    width: 240px;
  }
}
