.nav-animate {
  display: none;
}

.navbar.fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  box-shadow: 0px 2px 4px #00000093;
}

.fixed a {
  color: white;
}

/* модалка */

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal {
  background: white;
  padding: 20px;
  border-radius: 8px;
  position: relative;
}

.navbar_links {
  display: none;
}

.close-btn {
  position: absolute;
  top: 8px;
  right: 25px;
  cursor: pointer;
  font-size: 35px;
}

/* модалка */

@media (max-width: 1279px) {
  .nav__top {
    position: absolute;
    flex-direction: column;
    justify-content: space-around;
    top: 0;
    right: 0;
    height: 100vh;
    padding: 20px 40px;
    background-color: #1e3a8a;
    transform: translateY(-100%);
    transition: 0.5s;
    z-index: 1;
  }

  .links_navigators ul{
    display: none;
    display: row
  }

  .nav__top div {
    flex-direction: column;
    gap: 10px;
  }

  #media-nav:checked ~ .nav__top {
    transform: translateY(0);
  }

  .nav-animate {
    display: block;
  }

  .media__link {
    font-size: 12px !important;
  }

  .navbar_links {
    display: block;
    margin-bottom: 20px;
    top: 0;
  }

  .icon {
    display: none;
  }

  .navbar_links ul li {
    font-size: 18px;
    padding: 10px 0 10px 0;
    /* border-bottom: 1px solid white; */
  }
  .navbar_links ul li:hover {
    background-color: #2672be;
    border-radius: 4px;
  }

  .account_icons {
    margin-bottom: 40px;
  }

  .account_icons {
    flex-direction: row !important;
  }
}

@media (max-width: 1023px) {
  .footer__content {
    margin: 0 auto;
  }
  
}

@media (max-width: 1015px) {
  .media__linkButton {
    margin-bottom: 10px;
    font-size: 12px !important;
    padding: 2px 5px !important;
  }

  .nav__icon {
    width: 24px !important;
    height: 24px !important;
    font-size: 12px !important;
  }

  .icon {
    font-size: 12px !important;
  }
}

@media (max-width: 775px) {
  .list__link {
    font-size: 15px !important;
  }

  .logo {
    width: 200px !important;
  }
}

@media (max-width: 480px) {
  .logo {
    width: 150px !important;
  }

  .list {
    gap: 14px;
  }
}
