.callBack {
    position: fixed;
    bottom: 120px;
    right: 22px;
    z-index: 999;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
  
@media (max-width: 767px) {
    .callBack {
        bottom: 80px;
        right: 20px;
    }
}
